html {
        font-size: 62.5%;
}

* {
        box-sizing: border-box;
}

body {
        margin: 0;
        min-height: 80vh;
        display: grid;
        place-items: center;
        background-color: #181818;
        font-family: 'Poppins', sans-serif;
}
/* Current Visitors */
.box1 {
        background-color: #7000FF;
        color: #FFF;
        border-radius: 1em;
        padding: 5.5em 12.9em 5.3em 4.6em;
}

.box1 h1 {
        margin: 0;
        font-size: 5.5rem;
        font-weight: bold;
}

.box1 p {
        margin: 0;
        font-size: 1.8em;
        font-weight: bold;
        text-transform: uppercase;
}
/* Views and Visitors */

/* Launch button and Note */
