html {
        font-size: 62.5%;
}

* {
        box-sizing: border-box;
}

body {
        margin: 0;
        min-height: 100vh;
        display: grid;
        place-items: center;
        background-color: #181818;
        font-family: 'Poppins', sans-serif;
}

.wrapper {
        display: flex;
        flex-direction: column;
        gap: 5em;
}
/* Current Visitors */
.box1 {
        background-color: #7000FF;
        color: #FFF;
        border-radius: 1em;
        padding: 5.5em 12.9em 5.3em 4.6em;
}

.box1 h1 {
        margin: 0;
        font-size: 5.5rem;
        font-weight: bold;
}

.box1 p {
        margin: 0;
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
}
/* Views and Visitors */
.box2 {
        border-color: #2E2E2E;
        border-style: solid;
        border-width: .3em;
        border-radius: 1em;
        color: #FFF;
        display: flex;
        flex-direction: column;
        gap: 5em;
        padding: 5em 5em;
        text-transform: uppercase;
}

.box2 p {
        font-size: 1.8rem;
        margin: 0;
}

h3 {
        font-size: 3.2rem;
        margin: 0;
}

.box2-1, .box2-2 {
        display: flex;
        flex-direction: row;
}

.views-visitors {
        padding: 0 1.3em;
}
/* Launch button and Note */
.box3 {
       display: flex;
       flex-direction: column; 
       text-align: center;
       gap: 1em;
}

.box3 a{
        background-color: #7000FF;
        color: #FFF;
        border-radius: .5em;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        padding: 1em 8.8em;
}

.box3 p {
        color: #878787;
        font-size: 1.4rem;
        width: 20em;
        height: 6.8em;
        align-self: center;
}
/*iPad Mini*/

/*If the device width is grearter than or equal to 703px do this
retrieved from: https://www.emailonacid.com/blog/article/email-development/emailology_media_queries_demystified_min-width_and_max-width/ */
@media only screen and (min-width: 850px) {
        .wrapper {
                flex-direction: row;
                flex-wrap: wrap; 
                padding: 1em;
                gap: 2em;
        }

        .box1, .box2, .box3 {
                align-self: center;
        }

        .box1 {
                padding: 4em 4em;
                flex: 2;
        }

        .box2 {
                flex-direction: row;
                padding: 5.5em 3em;
                
        }
        
        .box3 {
                flex: 1;
        }
}

@media only screen and (min-width: 900px) {
        .wrapper {
                flex-wrap: nowrap;
                max-width: 1200px;
                gap: 2em;
                justify-content: center;
        }

        .box1 {
                padding: 3.5em 4em;
        }

        .box2 {
                padding: 5em 5em;
        }

        .box3 {
               align-content: flex-start;
               gap: 3em;
        }

        .box3 a {
                font-size: 2rem;
                padding: .75em 1em;
        }

        .box3 p {
             margin: 0;
             text-align: left;
        }
}